.icon-scale {
    animation-name: icon-scale;
    animation-duration: 1s;
}
.component-transition {
    animation-name: component-transition;
    animation-duration: 1s;
}

@keyframes icon-scale {
    0% {
        transform: scale(0.8);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes component-transition {
    0% {
        transform: translate(0px, 100px);
        opacity: 0;
    }
    100% {
        transform: translate(0px, 0px);
        opacity: 1;
    }
}
